body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  height: 80px;
  background-color: #8884d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.out-side {
  width: 100%;
  height: 650px;
  position: relative;
}

.frame {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.square {
  width: 20px;
  height: 20px;
}

.annotation {
  padding: 1rem;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.display-out-side {
  display: flex;
  align-items: center;
  justify-content: center;
}